### Java ###
*.class
*.log
*.arc
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# Se você não quiser commitar o wrapper do maven (opcional):
# .mvn/wrapper/maven-wrapper.jar

### Gradle ###
build/
.gradle/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### VS Code ###
.vscode/
*.code-workspace
.history/

### IntelliJ IDEA (Caso use as vezes) ###
.idea/
*.iws
*.iml
*.ipr
out/

### OS X ###
.DS_Store
Thumbs.db

### Spring Boot ###
*.jar
*.jar.pause
/help.md